:root {
    --cyan300 :#cffafe;
}

/*  -------------------------------- Room Details --------------------------- */

.customRow{
    background:var(--cyan300) !important;
    border-radius: .5rem;
    padding: 1rem;
}

.font-label {
    font-weight: 500;
}

/* RoomType Card radio option display settings */

.ant-radio {
    display: none !important;
}

/* RoomType Card image border radius */

.ant-card .ant-card-cover img {
    border-radius: 0 !important;
}

/*********************************/

.ant-btn-primary {
    color: #fff;
    background-color: #1677ff !important;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-btn-default.ant-btn-background-ghost {
    color: #1677ff;
    background-color: transparent;
    border-color: #1677ff;
    box-shadow: none;
}

