:root {
    --cyan300 :#cffafe;
}

/*  -------------------------------- Room Details --------------------------- */

.customRow{
    background:var(--cyan300) !important;
    border-radius: .5rem;
    padding: 1rem;
}

.font-label {
    font-weight: 500;
}

/* RoomType Card radio option display settings */

.ant-radio {
    display: none !important;
}

/* RoomType Card image border radius */

.ant-card .ant-card-cover img {
    border-radius: 0 !important;
}

/*********************************/



